<div class="panel panel-default">
    <div class="panel-heading">
        Employee Details
    </div>
    <div class="panel-body ">
        <div class="row">
            <div class="form-group">
                <div class="col-lg-3 text-right">Employee Code</div>
                <div class="col-lg-5">
                    <input id="txtEmployeeID" name="EmployeeCode" class="form-control" type="text" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-lg-3 text-right">Name</div>
                <div class="col-lg-5">
                    <input id="txtName" name="EmpName" class="form-control" type="text" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-lg-3 text-right">Address</div>
                <div class="col-lg-5">
                    <input id="txtAddress" name="Address" class="form-control" type="text" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-lg-3 text-right">Mobile No</div>
                <div class="col-lg-5">
                    <input id="txtPhone" name="MobileNo" class="form-control" type="text" />
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
                
    </div>
</div>